<!DOCTYPE HTML>

<html>
	<head>
		<title>Taisei Tateno</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="../images/avatar.jpg" alt="" /></a>
					<h1><strong>Taisei Tateno</strong></h1>
					<div class="inner">
						<ul class="icons">
							<li><a href="assets/Resume.pdf" target="_blank" class="fas fa-address-card fa-lg"><span class="label"></span></a></li>
							<li><a href="https://www.linkedin.com/in/taiseitateno" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
							<li><a href="https://github.com/taiseit" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
							
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
							<script> 
								$(document).ready(function() { 
									var isClicked;
									$('#ttemail').click(function() {
										isClicked = true;

										if(isClicked == true){
											$('html, body').animate({
											scrollTop: $("#ttcontact").offset().top}, 1000);
											isClicked=false;		
											}
									});														
								}); 
							</script>
							<li><a href="#" class="icon solid fa-envelope"  id="ttemail" title="Copy to clipboard"><span class="label">Email</span></a></li> 		
                        </ul>
                        <a href="/index.html"s>Home</a> <br>
						<a href="/bloglanding.html">Writings</a>
					</div>
				</div>
				
			</header>

			
		<!-- Main -->
			<div id="main">
				<section id="one">
					<header class="major">
						<h2>Title</h2>
						<h3><time datetime="2020-07-11T00:00:00+00:00">11 July 2020</time></h3>
					</header>
					
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet, accusamus quaerat dolore perspiciatis sint magni accusantium nulla voluptate minus nesciunt numquam, distinctio doloremque officiis consectetur! Officiis est nostrum consequuntur.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet, accusamus quaerat dolore perspiciatis sint magni accusantium nulla voluptate minus nesciunt numquam, distinctio doloremque officiis consectetur! Officiis est nostrum consequuntur.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet, accusamus quaerat dolore perspiciatis sint magni accusantium nulla voluptate minus nesciunt numquam, distinctio doloremque officiis consectetur! Officiis est nostrum consequuntur.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet, accusamus quaerat dolore perspiciatis sint magni accusantium nulla voluptate minus nesciunt numquam, distinctio doloremque officiis consectetur! Officiis est nostrum consequuntur.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet, accusamus quaerat dolore perspiciatis sint magni accusantium nulla voluptate minus nesciunt numquam, distinctio doloremque officiis consectetur! Officiis est nostrum consequuntur.</p>

				<!--
					<ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				-->
				</section>

	
				<section id="two">
					<h2>Get In Touch</h2>
					<p>Have a question? Feel free to email me or fill out the form below and I'll get back to you soon.</p>
					<div class="row">
						<div class="col-8 col-12-small"  id="ttcontact">
							<div class="col-4 col-12-small">
									<ul class="labeled-icons">
										<li>
											<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
											San Francisco, <br> 
											Bay Area</Area>
										</li>
										<li>
											<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
											<a href="#">tjt@berkeley.edu</a>
										</li>
									</ul>
								</div>
							<ul class="actions">
								<li><a href="https://tjt308552.typeform.com/to/Kq88nF" target="_blank" class="button">Contact Form</a></li>
							</ul>
						</div>
					</div>
				</section>
			</div>

		<!-- Footer -->

		<!-- Scripts -->
			<script src="assetms/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>